/* 1 - Integração inicial */
h1 {
  color: red;
}

/* 2 - Comentários com CSS */

/* 3 - ID - # */
h3 {
  color: green;
}

#title {
  color: blue;
}

/* 4 - Classes - . */
.text {
  color: blueviolet;
}

/* 5 - background */
.background {
  background-color: red;
  color: blue;
  font-size: 30px;
}

/* 6 - dois elementos, uma regra */
p,
.title-small {
  color: darkmagenta;
}

.title-small {
  font-size: 25px;
}

/* 7 - background image */
.background-image {
  background-image: url("../img/meteoro.jpg");
  padding: 20px;
  color: white;
}

/* 8 - largura e altura */
#width-height {
  width: 200px;
  height: 100px;
  background-color: black;
}

/* 9 - padding */
#padding {
  background-color: magenta;
  padding: 20px;
}

/* 10 - margin */
#margin {
  width: 200px;
  height: 200;
  background-color: blue;
  margin: 20px;
}

/* 11 - border */
#border {
  border: 3px solid red;
  width: 100px;
  height: 100px;
  padding: 40px;
  margin: 30px;
}

/* 12 - border radius */
#border-radius {
  width: 200px;
  height: 200px;
  background-color: mediumpurple;
  border: 3px dashed green;
  border-radius: 10px;
}

/* 13 - cores */
#rgb,
#hsl,
#hex {
  width: 50px;
  height: 50px;
  margin: 10px;
}

#hex {
  background-color: #25af1e;
}

#rgb {
  background-color: rgb(222, 14, 163);
}

#hsl {
  background-color: hsl(242, 76%, 44%);
}

/* 14 - alinhamento */
#center {
  text-align: center;
}

p {
  font-size: 35px;
}

/* 15 - decoration */
#underline {
  text-decoration: underline;
}

#line {
  text-decoration: line-through;
}

#sem-underline {
  text-decoration: none;
}

/* 16 - font size */
#fonte-pequena {
  font-size: 10px;
}

/* 17 - transform */
#upper {
  text-transform: uppercase;
}

#lower {
  text-transform: lowercase;
}

/* 18 - font family */
#serif {
  font-family: Georgia;
}

#sans-serif {
  font-family: Helvetica;
}

#cursive {
  font-family: "Courier New";
}

/* 19 - display */
.inline {
  width: 50px;
  height: 50px;
  background-color: red;
  margin: 5px;
  display: inline-block;
}

.block {
  width: 50px;
  height: 50px;
  background-color: green;
  margin: 5px;
  display: block;
}

/* 20 - ocultando elementos */
#none {
  display: none;
}

/* 21 - position */
#relative,
#absolute,
#fixed {
  width: 100px;
  height: 100px;
  margin: 100px;
}

#relative {
  background-color: blueviolet;
  position: relative;
  top: 50px;
  left: 20px;
}

#absolute {
  background-color: #321;
  position: absolute;
  top: 50px;
  right: 50px;
}

#fixed {
  background-color: #455;
  position: fixed;
  top: 100px;
  left: 45px;
}

/* 22 - relative e absolute */
#relative-2 {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  position: relative;
}

#absolute-1,
#absolute-2 {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
}

#absolute-1 {
  top: 10px;
  left: 10px;
}

#absolute-2 {
  bottom: 10px;
  right: 10px;
}
