@charset "UTF-8";
header {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: small;
    background-color: darkblue;
    width: 100%;

}
img {
    width: 200px;
}
.center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

body {
    background-color: rgb(32, 32, 32);
}
.main {
    color: white;
    font-size: smaller;
    width: 50%;
}
p {
    color: white;
}
a {
    color: white;
}