body {font-family: Arial, sans-serif; background-color: #000000; color: #9e9d9d; margin: 0; padding: 0;} 
header {background-color: #000000; color: white; padding: 10px 0; text-align: center;} .container {width: 80%; margin: 20px auto;} 
ul {list-style-type: none; padding: 0;} 
li {background-color: #fff; margin: 10px 0; padding: 10px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}
a {text-decoration: none; color: #333; font-size: 18px;} a:hover {color: #d3d3d3;}