*{
    background-color: rgb(254, 233, 233);
}

.valor{
    display: block;
    border: 1px solid #e9e9e9;
    background-color: #fecbe9;
    border-radius: 10px;
    width: 540px;
    height: 25px;
    margin: 15px;
}

label{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #bd8ba8;
}

button{
    border: 1px solid #e9e9e9;
    background-color: #fecbe9;
    border-radius: 10px;
    width: 70px;
    height: 25px;
    margin: 15px;
    display: inline-block;
    align-items: center;
    color: #bd8ba8;
}

button:hover{
    background-color: #fbaedc;
}

.valorResultado{
    display: block;
    border: 1px solid #e9e9e9;
    background-color: #fecbe9;
    border-radius: 10px;
    width: 540px;
    height: 25px;
    margin: 15px;
}

#armazenamento{
    font-family: Arial, Helvetica, sans-serif;
    color: #b2789b;
    font-size: medium;
}