h1{
    color: red;
}

h3{
    color: green;
}

#title{
    color: blue;
}

.text {
    color: blueviolet;
}

.background{
    background-color: red;
    color: blue;
    font-size: 30px;
}

p,
.title-small {
    color: darkmagenta;
}

.title-small {
    font-size: 25px;
    
}

.background-imagem {
    background-image: url("../img/meteoro.jpg");
    padding: 20px;
    color: white;
}

#width-height {
    width: 200px;
    height: 100px;
    background-color: black;
}

#padding{
    background-color: magenta;
    padding: 20px;
}

#margin{
    background-color: rgb(43, 86, 226);
    margin: 20px;
    width: 100px;
    height: 200px;
}

#border {
    border: 3px solid red;
    width: 100px;
    height: 100px;
    padding: 40px;
    margin: 20px;
    
}

#border-radius {
    border: 3px solid green;
    width: 100px;
    height: 200px;
}