body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}
input{
    border-radius: 5px;
    padding: 7px;
    border: 1px solid rgb(209, 207, 207);
    width: 100%;
    margin-right: 9px;
    height: 20px;
    font-size: medium;
}
.divInputs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.botaoInserir{
    color: white;
    border: none;
    border-radius: 5px;
    width: 30%;
    background-color: #66A968;
    cursor: pointer;
    
}
th{
    background-color: #66A968;
    color: white;
    padding: 5px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
td{
    text-align: center;
    padding: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.botaoRemover{
    background-color: #D43F3A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px;
}
.botaoEditar{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
    background-color: #66A968;
    cursor: pointer;
}
.botaoSalvar{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
    background-color: #66A968;
    cursor: pointer;
}
caption{
    text-align: left;
    padding: 10px;
}
button:hover{
    transition: 0.3s;
    background: rgb(156, 192, 168);
}