body {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: rgb(3, 3, 3);
}

header h1 {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 60px;
  box-shadow: 10px 5px 5px rgb(14, 13, 13);
  font-size: 35px;
}

#btnIniciar, #btnReiniciar {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #eee;    
  border-radius: 20px;
  background-color: rgb(60, 61, 55);
  color: rgb(238, 239, 224);
}

#btnIniciar:disabled {
  background-color: #292727;
  cursor: not-allowed;
}

#tentativas, #letras-usadas, #dica, #palavra {
  color: rgb(255, 255, 255);
}

.teclado {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(09, 80px);
  gap: 0.5em;
  margin-top: 15px;
}

.teclado button {
  border: 2px solid #eee;
  border-radius: 12px;
  background-color: #535353;
  color: #eee;
  padding: 10px;
  cursor: pointer;
  min-width: 50px;
  font-size: 16px;
}

#palavra {
  color: white;
}

#vidas{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
}
.vida {
  display: none;
  width: 70px;
  margin: 5px ;
}

#teclado button.acerto {
  background-color: #4CAF50 !important;
  color: white !important;
}

#teclado button.erro {
  background-color: #f44336 !important; 
  color: white !important;
}

#teclado button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}