.table {
  width: 800px;
  margin-left: 400px;
  margin-top: -458px;
  border: 1px solid white;
  border-collapse: initial;
}

table td, tr, th{
  border-collapse: initial;
  border: 1px solid white;
}

.btn {
  width: auto;
  font-size: smaller;
  padding: 3px;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: none;
  transition: none;
}

.btn:hover {
  transform: scale(1.05);
  background-color: transparent;
}

.th {
  font-weight: bold;
  color: white;
}

.td {
  color: white;
}

/* .title {
  margin-left: 100%;
  margin-top: -500px;
} */

.buttonSellection{
  margin-left: 120%;
  margin-top: 10px;
}

.tdSelecionar{
  padding: 0;
  width: 10px;
}

.buttonApagarSelecionados{
  width: 300px;
  font-size: small;
  padding: 5px;
  background-color: #7c9284;
  margin-left: auto;
}

.input {
  width: auto;
  align-items: center;
  justify-content: center;
}
