
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.center{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.corAzul {
  background-color: blue;
}
 
input, button {
  margin: 5px;
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5%;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}