body{font-family:Arial,sans-serif;background-color:#73778a;color:#333;margin:0;padding:20px}
header{background-color:#e2e2e2;color:rgba(10, 50, 160, 0.295);text-align:left;padding:15px}
h1{font-size:2.5em}
h2{font-size:2em;color:#ffffff}
footer{text-align:left;font-size:0.9em;color:#777;margin-top:40px}