body {
  background-color: rgb(52, 60, 68);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button {
  border: solid 1px blue;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  color: blue;
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

button:hover {
  background-color: rgba(83, 83, 90, 0.986);
  color: white;
  transform: scale(1.2);
}
